# Ambientes virtuais
venv/
.env/
.venv/
__pycache__/
*.pyc
*.dll
*.log
*.csv
logs/
estatisticas/


# Arquivos de configuração sensíveis
config_*.json
*.token

# Arquivos gerados automaticamente

*.pkl
*.xlsx
*.db
historico_megalodon.json
estatisticas_*.json
desempenho.json
# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db
# Ficheiros compilados do Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Configurações locais e chaves de segurança
.env
auth.json

# Modelos pesados gerados localmente (opcional, se não quiseres subir o .h5)
*.h5
