# Ambientes virtuais
venv/
.env/
.venv/
__pycache__/
*.pyc
*.dll
*.log
*.csv
logs/
estatisticas/


# Arquivos de configuração sensíveis
config_*.json
*.token

# Arquivos gerados automaticamente

*.pkl
*.xlsx
*.db
historico_megalodon.json
estatisticas_*.json

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db

